:root {
  --color-black: #12110f;
  --color-white: #fff;
  --color-blue-100: #e8f2ff;
  --color-blue-500: #4b96ff;
  --color-gray-100: #cccccc;
  --color-gray-200: #b3b3b3;
  --color-gray-300: #999999;
  --color-gray-400: #808080;
  --color-gray-500: #666666;
  --color-gray-600: #4d4d4d;
  --color-gray-700: #3c3c3c;
  --color-gray-800: #1e1e1e;
  --color-gray-900: #161513;
  --color-green-100: #011f14;
  --color-green-200: #013220;
  --color-green-300: #01452c;
  --color-green-400: #025839;
  --color-green-500: #026c45;
  --color-green-600: #037f51;
  --color-green-700: #03925e;
  --color-green-800: #03a56a;
  --color-green-900: #04b976;
  --color-orange-100: #472900;
  --color-orange-200: #6b3d00;
  --color-orange-300: #8e5200;
  --color-orange-400: #b26700;
  --color-orange-500: #d67b00;
  --color-orange-600: #f99000;
  --color-orange-700: #ffa01e;
  --color-orange-800: #ffaf42;
  --color-orange-900: #ffbe66;
  --color-red-100: #2a1314;
  --color-red-200: #3c1618;
  --color-red-300: #561a1e;
  --color-red-400: #671e21;
  --color-red-500: #832126;
  --color-red-600: #e5484d;
  --color-red-700: #e5484d;
  --color-red-800: #d93036;
  --color-red-900: #ff6166;
}

.light,
.dark .text-inverse {
  --color-team-unknown: var(--color-black);
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-gray-100);
  --bg-alt: var(--color-gray-200);
  --border-secondary: var(--color-gray-200);
  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-500);
  color-scheme: light;
}

.dark,
.light .text-inverse {
  --color-team-yellow: #ffd644;
  --color-yellow-500: #ffd644;
  --color-yellow-500-inverted: #a08600;
  --color-team-unknown: var(--color-white);
  --bg-primary: var(--color-black-900);
  --bg-secondary: var(--color-black-800);
  --bg-alt: var(--color-black-700);
  --border-secondary: var(--color-black-600);
  --text-primary: var(--color-white);
  --text-secondary: var(--color-slate-500);
  color-scheme: dark;
}

.set-color-team-current-yellow {
  --color-team-current: var(--color-team-yellow);
}

.set-color-team-current-red {
  --color-team-current: var(--color-team-red);
}

.set-color-team-current-blue {
  --color-team-current: var(--color-team-blue);
}

.dark .set-color-team-current-unknown {
  --color-team-current: var(--color-white);
}

.light .set-color-team-current-unknown {
  --color-team-current: var(--color-black);
}

:focus:not(:focus-visible) {
  outline: none;
}

body {
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  /* -webkit-box-shadow: 0 0 0 999px var(--color-gray-100) inset !important; */
  box-shadow: 0 0 0 999px var(--color-gray-100) inset !important;
  background-clip: content-box !important;
  transition: background-color 5000s ease-in-out 0s;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  /* -webkit-box-shadow: 0 0 0 999px var(--color-black-900) inset !important; */
  box-shadow: 0 0 0 999px var(--color-gray-800) inset !important;
  background-clip: content-box !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  font-family: Matter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

/* I kinda feel like this should be the default... 🤷‍♂️ */
[hidden] {
  pointer-events: none;
}

/* These elements get removed before hydration but they can look funny before hydrating */
dark-mode,
light-mode {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

a {
  color: var(--color-team-current);
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  font-size: 14px;
}

.jelly-effects {
  box-shadow: inset 0 -1rem 1.45rem 0 rgb(255, 255, 255, 0.1),
              inset 0 1rem 1.45rem 0 rgb(0, 0, 0, 0.5),
              0 0 1rem 0 rgb(255, 255, 255, 0.2)
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: '';
  height: 2px;
  border-radius: 4px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
  left: 0;
  bottom: -5px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:focus:after,
.active.underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}

@media (prefers-reduced-motion) {
  .underlined:after {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    opacity: 1;
  }
}

.glass {
  background: rgb(18, 17, 15, 0.7);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

table.styled-table {
  width: 100%;
  overflow-x: scroll;
  border-collapse: separate;
  table-layout: fixed;
  scrollbar-width: none;
  margin: 0;
  position: relative;
}
table.styled-table > thead tr {
  @apply w-max block lg:table-row;
  box-sizing: border-box;
}
table.styled-table > thead tr th:first-child {
  @apply pl-6;
}
table.styled-table > thead tr th:last-child {
  @apply pr-6;
}
table.styled-table > thead tr th.action {
  @apply text-center;
}
table.styled-table > thead tr th {
  width: 150px;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  @apply font-bold text-gray-400 text-left py-2 uppercase text-xs border-b border-gray-800;
}
table.styled-table > tbody tr td:first-child {
  @apply pl-6;
}
table.styled-table > tbody tr {
  @apply w-max block lg:table-row;
  box-sizing: border-box;
}
table.styled-table > tbody tr td {
  width: 150px;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  @apply text-gray-100 text-left py-3 border-gray-800 text-sm font-light border-b border-r-0 border-l-0;
}
table.styled-table > tbody tr:last-child td {
  @apply border-b-0;
}
table.styled-table > tbody tr td:last-child {
  @apply pr-6;
}
table.styled-table > tbody tr td.action {
  @apply text-center;
}
.wrapper-styled-table {
  position: relative;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
}
.wrapper-styled-table .no-data {
  @apply h-[10rem] flex items-center justify-center text-md font-medium text-gray-100;
}
.wrapper-styled-table::-webkit-scrollbar {
  display: none !important;
}

.text-animate {
  animation: doNothing 1s, pause-between-iterations 0.4s linear;
}
.text-animate-1 {
  animation: doNothing 1s, pause-between-iterations 0.9s linear;
}
.text-animate-2 {
  animation: doNothing 1s, pause-between-iterations 1.4s linear;
}
.text-animate-3 {
  animation: doNothing 1s, pause-between-iterations 1.9s linear;
}

@keyframes doNothing {
}

@keyframes pause-between-iterations {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  25.2% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.picture {
  grid-area: picture;
}

.ad {
  grid-area: ad;
}

.article {
  grid-area: article;
}
