@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* tailwind is configured to prefer this font */
@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Medium.woff2') format('woff2'),
    url('/fonts/Matter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Light.woff2') format('woff2'),
    url('/fonts/Matter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Regular.woff2') format('woff2'),
    url('/fonts/Matter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-SemiBold.woff2') format('woff2'),
    url('/fonts/Matter-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .bg-primary {
    @apply bg-white dark:bg-gray-900;
  }

  .bg-secondary {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-gray-500;
  }
}