/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

@layer base {
  :root {
    --color-black: #0b0b0b;
    --color-white: #fff;
    --color-blue-100: #e8f2ff;
    --color-blue-500: #4b96ff;
    --color-gray-100: 232 232 232;
    --color-gray-200: 182 182 182;
    --color-gray-300: 133 133 133;
    --color-gray-400: 105 105 105;
    --color-gray-500: 69 69 69;
    --color-gray-600: 51 51 51;
    --color-gray-700: 49 49 49;
    --color-gray-800: 33 33 33;
    --color-gray-900: 20 20 20;
    --color-green-100: 1 31 20;
    --color-green-200: 1 50 32;
    --color-green-300: 1 69 44;
    --color-green-400: 2 88 57;
    --color-green-500: 2 108 69;
    --color-green-600: 3 127 81;
    --color-green-700: 3 146 94;
    --color-green-800: 3 165 106;
    --color-green-900: 4 185 118;
    --color-orange-100: 71 41 0;
    --color-orange-200: 107 61 0;
    --color-orange-300: 142 82 0;
    --color-orange-400: 178 103 0;
    --color-orange-500: 214 123 0;
    --color-orange-600: 249 144 0;
    --color-orange-700: 255 160 30;
    --color-orange-800: 255 175 66;
    --color-orange-900: 255 190 102;
    --color-red-100: 42 19 20;
    --color-red-200: 60 22 24;
    --color-red-300: 86 26 30;
    --color-red-400: 103 30 33;
    --color-red-500: 131 33 38;
    --color-red-600: 229 72 77;
    --color-red-700: 229 72 77;
    --color-red-800: 217 48 54;
    --color-red-900: 255 97 102;
    --color-violet-100: 218 195 232;
    --color-violet-200: 210 183 229;
    --color-violet-300: 193 158 224;
    --color-violet-400: 177 133 219;
    --color-violet-500: 160 108 213;
    --color-violet-600: 145 99 203;
    --color-violet-700: 129 90 192;
    --color-violet-800: 114 81 181;
    --color-violet-900: 98 71 170;
  
    --space-3xs: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
    --space-2xs: clamp(0.5rem, calc(0.48rem + 0.12vw), 0.56rem);
    --space-xs: clamp(0.75rem, calc(0.7rem + 0.24vw), 0.88rem);
    --space-sm: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
    --space-md: clamp(1.5rem, calc(1.43rem + 0.37vw), 1.69rem);
    --space-lg: clamp(2rem, calc(1.9rem + 0.49vw), 2.25rem);
    --space-xl: clamp(3rem, calc(2.85rem + 0.73vw), 3.38rem);
    --space-2xl: clamp(4rem, calc(3.8rem + 0.98vw), 4.5rem);
    --space-3xl: clamp(6rem, calc(5.71rem + 1.46vw), 6.75rem);
  
    --duration: 200ms;
    --ease: cubic-bezier(0.33, 1, 0.68, 1);
  }
}

/* tailwind is configured to prefer this font */
@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Medium.woff2') format('woff2'),
    url('/fonts/Matter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Light.woff2') format('woff2'),
    url('/fonts/Matter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Regular.woff2') format('woff2'),
    url('/fonts/Matter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-SemiBold.woff2') format('woff2'),
    url('/fonts/Matter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .bg-primary {
    @apply bg-white dark:bg-gray-900;
  }

  .bg-secondary {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-gray-200;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}